
{
    "extends": ["standard", "plugin:prettier/recommended"],
    "parser": "babel-eslint",
    "env": {
      "node": true
    },
    "globals": {
      "expect": true,
      "should": true
    },
    "rules": {
      "prettier/prettier": ["error", {
        "singleQuote": true,
        "trailingComma": "none",
        "bracketSpacing": true,
        "jsxBracketSameLine": true,
        "semi": false
      }],
      "strict": 0,
      "no-underscore-dangle": 0,
      "no-unused-vars": 1,
      "no-unused-expressions": 0,
      "new-cap": 0,
      "no-extra-boolean-cast": 0,
      "yoda": 0,
      "no-use-before-define": 0,
      "no-shadow": 0
    }
  }